h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 260101033-01]
        p.mb-0 Identificar los procesos de segmentación de mercado según las características de la audiencia.




