.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      .row.justify-content-center
        .col-12.col-lg-9.my-5
          img(src="assets/images/pages/tema_1/introduccion.svg", alt="", style="width:100%")                    

        .col-12
          p El proceso de Branding integra dentro se sus fases, el análisis y conocimiento de la marca para la definición, afirmación o replanteamiento de sus valores, objetivos, principios, identidad o su target; con el fin de crear las estrategias acertadas para la creación y construcción de marca, un proceso transversal y permanente que vela por construir la imagen adecuada de la marca en la mente del consumidor.

          p Este componente formativo brinda las herramientas necesarias para definir el target y el segmento de mercado desde la personalidad de la marca, con herramientas como el análisis de estilos de vida, el mapa de empatía y el modelo Buyer Persona, que servirán como modelos de análisis para poder definir al cliente ideal. 


             
          



              